* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.container-bg {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image:
    linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(8px);
  border-radius: 30px;
  padding: 20px 20px;
}

.navbar h1 {
  color: white;
  text-align: center;
}

.navlinks {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navlinks li a {
  color: white;
  text-align: center;
}

.navlinks button {
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 750;
  color: aliceblue;
  background-color: blue;
  border-radius: 20px;
  border: 2px solid blue;
  transition: all 0.5s linear;
}

.navlinks button:hover {
  color: blue;
  background-color: transparent;
}

#hero {
  padding: 80px 0px;
}

.hero-all {
  display: flex;
  backdrop-filter: blur(8px);
  padding: 20px 150px;
  border-radius: 15px;
  gap: 60px;
}

.hero-img {
  margin-left: auto;
}

.hero-title button {
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid blue;
  padding: 10px 15px;
  background-color: blue;
  font-size: 15px;
  font-weight: 750;
  transition: all 0.4s linear;
}

.hero-title button a {
  color: aliceblue;
  transition: all 0.4s linear;
}

.hero-title button a:hover {
  color: blue;
}

.hero-title button:hover {
  background-color: transparent;
  cursor: pointer;
}

.hero-title h2 {
  background: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 90px;
  font-weight: 700;
  font-size: 45px;
  width: 600px;
}

.hero-title p {
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
}

#about {
  padding: 80px 0px;
}

.about-all {
  padding: 80px 20px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  gap: 50px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.inner {
  --w: 200px;
  --h: 250px;
  --translateZ: calc((var(--w) + var(--h)) + 0px);
  --rotateX: -15deg;
  --perspective: 1000px;
  position: absolute;
  width: var(--w);
  height: var(--h);
  top: 25%;
  left: calc(50% - (var(--w) / 2) - 2.5px);
  z-index: 2;
  transform-style: preserve-3d;
  transform: perspective(var(--perspective));
  animation: rotating 20s linear infinite; /* */
}
@keyframes rotating {
  from {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(0);
  }
  to {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(1turn);
  }
}

.card {
  position: absolute;
  border: 2px solid rgba(var(--color-card));
  border-radius: 12px;
  overflow: hidden;
  inset: 0;
  transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ));
}

.img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  background: #0000
    radial-gradient(
      circle,
      rgba(var(--color-card), 0.2) 0%,
      rgba(var(--color-card), 0.6) 80%,
      rgba(var(--color-card), 0.9) 100%
    );
}

.friends-all {
  backdrop-filter: blur(8px);
  padding: 10px;
}

.img h3 {
  color: #ffffff;
}

.p-all h2 {
  color: white;
  font-size: 45px;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 20px;
}

.p-all {
  margin-top: 80px;
  margin-bottom: 80px;
  backdrop-filter: blur(8px);
}

.about-f {
  margin-top: 30px;
  width: 1280px;
  backdrop-filter: blur(8px);
  padding: 40px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.f-img {
  width: 400px;
  border-radius: 8px;
}

.f-title {
  width: 500px;
  color: #ffffff;
}

.f-title p {
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
}

.h2-title {
  margin-top: 80px;
  color: blue;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
}

.f-title h3 {
  color: aqua;
  font-size: 32px;
  font-weight: 400;
}

.flip-card-front img {
  width: 350px;
  height: 415px;
  border-radius: 1rem;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 415px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0.61, 0.98, 0.48, 1.01);
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotate(180deg) rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  background: #fff;
  color: #000;
}

.flip-card-back {
  background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
  color: #fff;
  transform: rotateY(180deg);
}

.p-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.p-img {
  width: 50px;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* From Uiverse.io by Z4drus */ 
.container-ld {
  --uib-size: 100px;
  --uib-color: rgb(51, 172, 241);
  --uib-speed: 1.4s;
  --uib-bg-opacity: 0.1;
  height: var(--uib-size);
  width: var(--uib-size);
  transform-origin: center;
  overflow: visible;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 15, 85;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: travel var(--uib-speed) linear infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
  transition: stroke 0.5s ease;
}

@keyframes travel {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -100;
  }
}


.load {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: off 5s forwards;
}

@keyframes off {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    z-index: -1;
  }
}

.project-all {
  margin-top: 80px;
  backdrop-filter: blur(8px); 
}

.project-all h2 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 30px;
}